.SegmentItem.pairedItem {
    background: #fdfdfd;
    border: 1px solid #6f8796;
    color: #6f8796;
    text-align: left;
    padding: 16px;
    margin:16px;
    height: 56px;

 
}

.SegmentItem .segmenticon {
    margin-right:8px;
    display:inline-block;
    position: relative;
    left: 15px;
}

.SegmentItem .pair-status{
    text-align: center;
}

.SegmentItem .ready {
    
    cursor: pointer;
}

.SegmentItem .complete {
    color: #28a745;
    cursor: pointer;
}

.SegmentItem .error {
    color: red;
    cursor: pointer;
}

.SegmentItem .inprogress {
    position:relative;
    top: -7px;
}

.SegmentItem .startSegment{
    color: #3498db;
    cursor: pointer;
}

.SegmentItem .warning {
    color: orange;
   
}



.SegmentItem .removeItem{
    cursor: pointer;
    cursor: pointer;
    position: relative;
    left: 40px;
    top: -29px;
    background: white;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
    border: 1px solid;
    font-size: 9px;
}


.SegmentItem .fileAudio {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 35px;
    border: 1px dotted #6f8796;
    padding: 5px;
}

.SegmentItem .fileText {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 35px;
    border: 1px dotted #6f8796;
    padding: 5px;
}