

.ProjectListItem a  {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.ProjectListItem {
    border: none !important;
    border-bottom: 1px solid #e1e9ec ;
}

.ProjectListItem:hover {
    background: #e9ecef;
}

.ProjectIcon {
    margin: 5px;
    cursor: pointer;
}

.ProjectListItem .projectTitle {
    text-align: left;
    cursor: pointer;
    border: none !important;
}