.ButtonLeftBar {
    border-radius: 0px;
    font-size: 16px;
    padding-left: 60px;
    text-align: left;
    background-color: #3498db !important;
    border: 0px;
}



.ButtonLeftBar:hover {
    background-color: #227ab5 !important;
}

.ButtonLeftBar .icon {
    position: absolute;
    top: 20px;
    left: 20px;
}