.Modal .modalTitle {
    
}

.Modal .btn {
    margin: 0 10px;
}

.Modal {
    position: fixed;
    z-index: 999999999999;
    background-color: white;
    width: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding: 16px;
    left: 15%;
    top: 15%;
    overflow:auto;
    max-height: 75%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}