


.AudioEditor #titles, #waveform-container {
    margin: 24px auto;
    width: 100%;
  }

  .AudioEditor #zoomview-container {
    border: 1px solid #c7d5da;
    border-top: none;
    margin: 0 0 24px 0;

    line-height: 0;
  }

  .AudioEditor  #overview-container {
    border: 1px solid #c7d5da;
    border-bottom: none;
    margin: 0 0 24px 0;

    line-height: 0;
  }

  .AudioEditor #zoomview-container {
    height: 200px;
  }

  .AudioEditor #overview-container {
    height: 85px;
  }

  .AudioEditor #demo-controls {
    margin: 0 auto 24px auto;

  }

  .AudioEditor #demo-controls button {
    background: #3498db;
    color: white;
    border:none;
    cursor: pointer;
    margin: 6px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .AudioEditor #audio {
    flex: 0 0 30%;
  }

  .AudioEditor #controls {
  
  }

  .AudioEditor #seek-time {
    width: 4em;
  }

  .AudioEditor .log {
    margin: 0 auto 24px auto;
    width: 1000px;
  }

  .AudioEditor table {
    width: 100%;
  }

  .AudioEditor table th {
    text-align: left;
  }

  .AudioEditor table th, table td {
    padding: 0.5em;
  }

  .AudioEditor .hide {
    display: none;
  }