.ProjectPage {
    position: absolute;
    left: 210px;
    bottom: 0px;
    top: 45px;
    right: 300px;
}

.ProjectPage .nav-tabs .nav-item:last-child{
    position:relative;
    left: 40px;
}

.ProjectPage .darkbg {
    background-color: #394b55;
}