.ProjectPage {
    position: absolute;
    left: 210px;
    bottom: 0px;
    top: 45px;
    right: 300px;
    background: #394b55;
}
/*
.ProjectPage .nav-tabs .nav-item:last-child{
    position:relative;
    left: 40px;
}
*/

.ProjectPage .darkbg {
    background-color: #394b55;
    overflow: hidden;
    width: 560px;
}

.ProjectPage .Content {
    background-color: #f5f8fa;
    top: 88px;

}