
.SortableAudioList {
    display: block;
    height: 56px;
    border: none;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background:none;
    color: #6f8796;
    text-align: left;
    margin: 16px 0px;
    margin-left: 30px;
    margin-right: 40px
}

.SortableAudioList .withReference {
    position: relative;
}

.SortableAudioList .preview {
    color:#28a745;
}

.SortableAudioList .orderNo {
    position: absolute;
    left: -8px;
    top: -3px;
}

.SortableAudioList .fa-arrows-alt-v {
    width: 22px;
    height: 22px;
    background: #6f8796;
    border-radius: 30px;
    position: relative;
    top: -4px;
    color: white;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

