.Dashboard {
    padding-top: 1em;
    background-color: #f5f8fa;
}

.Dashboard .card-body {
    text-align:left;
}

.cardHeader {
    background-color: #6f8796;
    color: white;
}

.Content {
    position: absolute;
    bottom: 0px;
    top: 90px;
    overflow: auto;
}