
.SegmentTool {
    padding-top: 1em;
    padding-bottom: 4em;
}

.SegmentTool .commonParent {
    position: relative;
    z-index: 10;
    width: 92%;
}

.SegmentTool .segmentEntriesBG {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 112%;

}
.Content {
    position: absolute;
    bottom: 0px;
    top: 90px;
    overflow: auto;
}

.SegmentTool .uploadAudio {
    background: #fdfdfd;
    border: 1px dotted #6f8796;
    color: #6f8796;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.SegmentTool .pair-status {
    position: relative;
    left: -4%;
}

.SegmentTool .uploadTxt {
    background: #fdfdfd;
    border: 1px dotted #6f8796;
    color: #6f8796;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

